h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #B1C5B3
}

#Logo {
  width: 11rem;
  margin-top: -9rem;
  margin-left: 2rem;
}

#map {
  margin-top: 0;
  height: 69vh;  /* The height is 400 pixels */
  width: 80%;  /* The width is the width of the web page */
  margin-left: 9rem;
  border: 2rem;
  border-radius: 4rem;
 }
 

 #list {
     margin-left: 70rem;
 }